{
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "experimentalTernaries": true,
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "all"
}
